<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Peça Ajuda </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate>
      <ion-item>
        <ion-input formControlName="title" label="Titulo" placeholder="Digite o titulo" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-input formControlName="subtitle" label="Subtitulo" placeholder="Digite o subtitulo" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-input
        formControlName="description" label="Descrição" placeholder="digite uma descrição" required></ion-input>
      </ion-item>
    </form>
    <ion-button expand="full">
      <ion-icon lazy="true" slot="start" name="image"></ion-icon>
      <input
        type="file"
        class="image-input"
        (change)="loadImage($event)"
        id="file-input"
        accept="image/png, image/jpeg"
      />
    </ion-button>

    <img [src]="convertedImage" />
  </ion-list>

  <ion-button type="submit" expand="block" (click)="submitForm()">Salvar</ion-button>
</ion-content>
