<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Peça Ajuda
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
      <ion-item>
        <ion-input label="Titulo" placeholder="Digite o titulo"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Subtitulo" placeholder="Digite o subtitulo"></ion-input>
      </ion-item>

    <ion-item>
      <ion-input label="Descrição" placeholder="digite uma descrição"></ion-input>
    </ion-item>

    <ion-button expand="full">
      <ion-icon lazy="true" slot="start" name="image"></ion-icon>
      <input type="file" class="image-input" (change)="loadImage($event)" id="file-input"
        accept="image/png, image/jpeg">
    </ion-button>

    <img [src]="convertedImage">

  </ion-list>

  <ion-button>Salvar</ion-button>

</ion-content>
